{% extends "main_template.html" %}
{% block header %}
<title> Techniques</title>
{% endblock %}

{% block body %}

<ul>
  <form action="{{ url_for("list")}}" method="POST">
  {% for key in technique_data %}
  <li>{{key}}  <input type="checkbox" name="technique" value="{{key}}"
		      {% if key in techniques %}checked
		      {% endif %}></li>
  {% endfor %}
  <p>
    {% for field in search_fields %}
  <li>{{field}}  <input type="checkbox" name="field" value="{{field}}"
		      {% if key in techniques %}checked
		      {% endif %}></li>
  {% endfor %}</p>
  <input type="text" name="search" placeholder="Search...">
  <input type="submit" value="Submit">
  </form>
</ul>

<p>Search results:</p>
<ul>
  {% for current_project in requested_projects %}
  <li><a href="{{ url_for("project", 
project_id=current_project["project_id"]) }}">{{current_project}}</a></li>
  {% endfor %}
</ul>


{% endblock %}

