{% extends "admin_template.html" %}

{% block body %}
<div class="h-100 container">
  <div class="h-75 row align-items-center">
    <div class="col-6 light-green p-5 bg-shadow-dark rounded mx-auto">
   
      <div class="row justify-content-md-center">
	<i class="far fa-grin-beam-sweat fa-5x white-icon"></i>
      </div>
      
      <br>
      <hr>
      <br>
      {% if current_user.is_authenticated %}
      <div class="alert alert-info">You're already logged in!</div>
      {% else %}
      <form action="{{ url_for("login")}}" method="POST">
	  <input type="text" name="username" class="form-control" placeholder="Username">
	<br>
	<input type="password" name="password" class="form-control" placeholder="Password">
	<br>
	<div class="text-center">
	  <button type="submit" class="btn btn-dark pl-4 pr-4">Login</button>
	  <br>
	  <br>
	  {% include "message_flashing.html" %}
	</div>
      </form>
      {% endif %}
      
    </div>
  </div>
</div>
{% endblock %}
