{% extends "admin_template.html" %}

{% block body %}
<div class="h-100 container">
  <div class="h-75 row align-items-center o">
    <div class="h-75 col w-75 m-2 p-5 light-green bg-shadow-dark rounded">
      
      <!-- Form for input -->
      <div class="input group mb-3">
	<span>Title</span>
	<input type="text" name="title" class="form-control"
	       placeholder="Title"
	       aria-label="Title">	
      </div>
      <span>Body</span>
      
      <div class="input-group mb-3">
	<textarea class="form-control" name="long_description"
		  aria-label="Description.."></textarea>
      </div>
      
    </div>

    <div class="h-75 col-3 w-25 m-2 light-green bg-shadow-dark rounded">
    </div>
    
  </div>
</div>
{% endblock %}
