{% extends "main_template.html" %}
{% block html_conf %}class="image-bg"{% endblock %}
{% block body_conf %}style="background-color:rgba(0,0,0,0);"{% endblock %}
{% block title %}Edit{% endblock %}
{% block body %}
{% include "navbar.html" %}
{% block navbar %}
{% endblock %}
{% import "form.html" as forms with context %}


<div class="h-100 container mw-100">
  <div class="h-100 m-5 row align-items-sm-center text-light">
    
    <div class=" col-md-7 m-2 p-3 bg-trans bg-shadow-dark rounded">
      {% include "message_flashing.html" %}
      <!-- Form for input -->
      <form action="{{url_for('modify', 
		    project_id=project_id)}}" method="POST">
	<div class="form-row align-items-top">
	  <div class="col-8">
	    {{ forms.input("project_name") }}
	  </div>
	  
	  <div class="col">
	    {{ forms.input("project_id") }}
	  </div>
	</div>
	<div class="col-100">
	  {{ forms.input("long_description") }}
	</div>

	
	<div class="form-row align-items-top">
	  <div class="col">
	    {{ forms.input("short_description") }}
	  </div>
	</div>
	
	<div class="form-row align-items-top">
	  <div class="col-7">
	    {{ forms.input("external_link") }}
	  </div>
	  <div class="col-4 align-text-center">
	    <button type="submit" class="btn btn-primary">Submit</button>
	  </div>
	</div>
    </div>
    
    
    <div class=" col-md-4 m-2 p-3 bg-semi bg-shadow-dark rounded">
      <div class="form-row align-items-top">
	<div class="col-5">
	  {{ forms.input("start_date") }}
	    
	</div>
	<div class="col-5">
	  {{ forms.input("end_date") }}
	</div>
      </div>
      
      <div class="form-row align-items-top">
	<div class="col-5">
	  {{ forms.input("group_size") }}
	</div>
	<div class="col">
	    {{ forms.input("academic_credits") }}
	</div>	
      </div>
      
      <div class="form-row align-items-top">
	<div class="col-6">
	  {{ forms.input("course_name") }}
	</div>
	<div class="col">
	  {{ forms.input("course_id") }}
	</div>
      </div>
      
      <div class="form-row align-items-top">
	<div class="col">
	    {{ forms.input("techniques_used") }}
	</div>
      </div>
      <div class="form-row">
	<span>Image file</span>
	<div class="custom-file">
	  <input type="file" class="custom-file-input
				    bg-dark text-light">
	  <label class="custom-file-label bg-dark text-light"
		 for="validatedCustomFile">Choose file...</label>
	  <div class="invalid-feedback">
	    Example invalid custom file feedback</div>
	</div>
    </form>
    </div>
    </div>
    {% endblock %}
