{% extends "main_template.html" %}
{% block title %}Techniques{% endblock %}
{% block body %}
    {% include "navbar.html" %}
    {% block navbar %}
    {% endblock %}
    {% include "div_image.html" %}
    {% block div_image  %}
    {% endblock %}
    </div>
    <div class="container mw-100 bg-dark" style="height: 15px;">
    </div>
    {% for e in master_list %}
    <div class="container">
        <h3> {{e[0]|capitalize}} </h3>
        <div class="row justify-content-start">
            {%for project in e[1] %}
            {% include "card.html" %}
            {% block card %}
            {% endblock %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
{% endblock %}
