{% extends "main_template.html" %}
{% block header %}
<title> Techniques</title>
{% endblock %}

{% block body %}
{% for technique in master_list %}
<h3> {{technique[0]}} </h3>
{%for project in techique[1] %}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{project['project_name']}}</h5>
        <p class="card-text">{{project['short_discription']}}</p>
        <a href="/project/{{project['project_id']}}" class="btn btn-primary">Read more</a>
    </div>
</div>
    {% endfor %}
    {% endfor %}
    <br>
{% endblock %}

