.trans {
    background-color: transparent;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    font-family: 'Advent Pro';
}

.image-div {
    background:url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 200px 0px rgba(0,0,0,1);
}

.image-bg {
    background:url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 200px 0px rgba(0,0,0,1);
}


.4rem {
    font-size:4rem;
}

.bg-shadow {
    box-shadow: 5px 5px 5px 0px rgba(200,200,200);
}

.bg-shadow-dark {
    box-shadow: 0px 0px 30px -20px rgba(0,0,1);
}

.inset-shadow {
    box-shadow: inset 5px 5px 5px 0px rgba(200,200,200);
}

.dark-blue {
    background-color: #222c3a;
}

.light-green {
    background-color: #169f85;
}

.white-icon {
    color: #fff;
}

.full-body {
    height: 100%;
}

.bg-semi {
    background-color:rgba(150,150,150, 0.1);
}

.form-control {
    border:0;
}

.bg-blur {
    backdrop-filter: blur(100px);
}

.truncate {
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
