body {
    margin:0px;
    font-family: Verdana, Geneva, sans-serif;
    font-family: 'Advent Pro';
    color:#F5F5F5;
    background-color:#fff;
}

.main {
    padding-top:30px;
#    background-color:#2F4F4F;
    
    background: rgba(47,79,79,1);
    background: -moz-linear-gradient(top, rgba(47,79,79,1) 0%, rgba(47,79,79,1) 0%, rgba(55,102,102,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(47,79,79,1)), color-stop(0%, rgba(47,79,79,1)), color-stop(100%, rgba(55,102,102,1)));
    background: -webkit-linear-gradient(top, rgba(47,79,79,1) 0%, rgba(47,79,79,1) 0%, rgba(55,102,102,1) 100%);
    background: -o-linear-gradient(top, rgba(47,79,79,1) 0%, rgba(47,79,79,1) 0%, rgba(55,102,102,1) 100%);
    background: -ms-linear-gradient(top, rgba(47,79,79,1) 0%, rgba(47,79,79,1) 0%, rgba(55,102,102,1) 100%);
    background: linear-gradient(to bottom, rgba(47,79,79,1) 0%, rgba(47,79,79,1) 0%, rgba(55,102,102,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f4f4f', endColorstr='#376666', GradientType=0 );


}
.content {
    #background-color:#fff;
    width:50%;
    margin-left:auto;
    margin-right:auto;
}
.presentation {
    width:40%;
    margin-left:auto;
    margin-right:auto;
    line-height:1.5em;
    font-size:14px;
    letter-spacing:.25px;
    text-align:center;
}
.presentation-header {
    text-align:center;
    font-size:100px;
    font-weight:lighter;
    letter-spacing:1.4px;
    
} 
.img-circle {
    border-radius:50%;
    height:150px;
    width:150px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:30px;
    margin-top:30px;
}
.bar {
    height:1px;
    background:white;
    margin:30px;
}
.fixedheader {
    overflow: hidden;
    position:fixed;
    top:0;
    width:100%;
    color:#CCC;
   # background-color:#2F4F4F;
}
ul {
    list-style-type:none;
    margin:0;
    padding:0;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
li {
    float:left;
    display:inline-block;
    border-style:solid;
    border-radius:10px;
    border-width:1px;
    border-color:#fff;
    margin:15px;
    margin-left:20px;
    margin-right:20px;
}
li a {
    display:block;
    color:white;
    text-align:center;
    padding: 5px 10px;
    text-decoration:none;
}
li a:hover {
    background-color: white;
    color:#ccc;
    display:block;
    border-radius:10px;
    border-style:solid;
    border-width:1px;
}
.active {
    background-color:#FFF;
}
.table {
    display:table;
    margin:0 auto;
}
.black-text {
    color:#ccc;
}
.project-list {
    text-align: center;
    list-style-type: none;
    border: 1px solid;
    border-bottom: none;
    
}
.project-list li {
    float: none;
    display: inline-block;
    width: 40%;
}
.list-header {
    font-size: 21px;
}

.projects {
    margin:50px;
    color:#ccc;
}

.project-container {
    width:75%;
    margin-left:auto;
    margin-right:auto;
    
}	

.project-header {
    font-size:1em;
    text-align:center;
}

.float-left {
    float:left;
    display:inline;
}

.float-right {
    float:right;
    display:inline;
}
	
.img-project {
    overflow:hidden;
    width:100%;
}
